<!DOCTYPE html>
<html lang="en">
	<!-- ---------------------------------------------------------------------------------------- -->
	<!-- THIS PAGE REQUIRES PARAMETERS: -->
	<!-- ---------------------------------------------------------------------------------------- -->
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		

		<title>Kevin Flory's Portfolio: Home</title>
		<!--  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3Fme2BM4boCE9tHx9zHvcxaQoAkksPQa/8oyn1Dzqv7gdcXChereUsXGx6LtbqA" crossorigin="anonymous"> -->
		<!-- <link href="webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet"/>-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="custom.css" rel="stylesheet"/>
	</head>
	

	<body>
		<main>
			<!--  Looking for Kevin's Grand Circus graduation project?  -->
			
			<div class="container signature-behind justify-content-center py-5 mt-3">
				<h1 class="display-1 text-center"><b>Kevin Flory</b></h1>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-5">
						<button type="button" class="btn btn-primary" id="codeButton" onclick="swapCodeCard()">Code</button>
					</div>
					<div class="col-2"></div>
					<div class="col-5">
						<button type="button" class="btn btn-primary" id="artButton" onclick="swapArtCard()">Art</button>
					</div>
			</div>
			
			<div class=".container-fluid justify-content-center fixed-bottom bg-dark text-white">
				<div class="row">
					<div class="col-6">
						<p class="text-right">Built with: 
							<a href="https://spring.io/projects/spring-boot">Spring Boot</a>, 
							<a href="https://getbootstrap.com/">Bootstrap</a>, 
							Java, JavaScript, HTML, CSS.
						</p>
					</div>
					<div class="col-6">
						<p>
							See the code: 
								<a href="https://github.com/flory-twin/Personal-PortfolioWebsite">https://github.com/flory-twin/Personal-PortfolioWebsite
								</a>
						</p>
					</div>
				</div>
			</div>
			<!-- 
			<div class="nav justify-content-center fixed-bottom navbar-light bg-dark text-white">
				<p class="nav-item"><i>Built with:</i> </p>
				<ul>
					<li class="nav-item">
						<a href="https://spring.io/projects/spring-boot">Spring Boot</a>
					</li>
					<li class="nav-item">
						<a href="https://getbootstrap.com/">Bootstrap</a>
					<li class="nav-item"> JavaScript, CSS, HTML   |   <a href="https://github.com/flory-twin/Personal-PortfolioWebsite">https://github.com/flory-twin/Personal-PortfolioWebsite</a>
			</div>
			-->
			<!-- 
			<nav class="navbar fixed-bottom navbar-light bg-dark justify-content-center">
				<div class="container text-white text-center">
					<p><i>Built with:</i> Spring Boot * Bootstrap * JavaScript, CSS, HTML</p>
				</div>
			</nav>
			 -->
		</main>
		
		<script src="custom.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
	      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
	      crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	
	
</html>