.signature-behind {
    background-image: url("Signature-masked.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.statue-behind {
    background-image: url("/art/AdmiralPerry/admiralPerry4.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.shrink {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-sm {
	max-height: 100%;
	width: auto;
}

.custom-gray {
	background-color: #D6D2D0;
}