.eclipse-behind {
    background-image: url("/images/eclipseView-masked.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.upperpeninsula-behind {
    background-image: url("/images/UpperPeninsula-2019-2-2.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.custom-gray {
	background-color: #D6D2D0;
}